@import 'Styles/vars.scss';

.ContactsBlock{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}

.socials{
  display: flex;
  flex-direction: column;

  .social{
    font-style: normal;
    font-weight: 800;
    font-size: 2.2em;
    line-height: 130%;
  
    color: transparent;
    -webkit-text-stroke: 2px #FFF;

    transition: all 0.2s ease;
    text-transform: uppercase;
    
    @media screen and (min-width: 1280px) {
      font-weight: 800;
      font-size: 2em;
      line-height: 130%;
    }

    &:hover{
      color: #FFF;
      -webkit-text-stroke: 2px #FFF;
    }
  }
}

.contacts{
  flex: 1;
  margin-top: 48px;

  @media screen and (min-width: 1280px) {
    margin-left: 20px;
    margin-top: 0;
  }


  .contact_block{

    .contact_block_title{
      display: block;
      font-style: normal;
      font-weight: 800;
      font-size: 1.75em;
      color: #FFFFFF;
      margin-bottom: 0.75em;

      @media screen and (min-width: 1280px) {
        font-size: 2em;
      }
    }

    .contact{
      display: block;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      font-size: 1em;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #FFFFFF;

      @media screen and (min-width: 1280px) {
        font-size: 1em;
        line-height: 150%;
      }
    }
  }
}