@import 'Styles/vars.scss';

.Footer{
  position: relative;
  width: 100%;
  justify-content: center;



  display: flex;
  z-index: 10;
  color: rgba(#FFF, 0.5);
  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-size: 0.66em;

  display: none;

  >*:not(:last-child){
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      right: 0;
      width: 1px;
      height: 1em;
      top: 50%;
      transform: translateY(-50%);
      background: #FFF;
    }
  }


  .langs{
    display: flex;

    >*:not(:last-child){
      margin-right: 8px;
    }

    .lang{
      &.active{
        color: #FFFFFF;
      }
    }
  }

  .studio{
    color: rgba(#FFF, 0.9);
  }




  @media screen and (min-width: 1280px) {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;

    justify-content: flex-end;

    padding-bottom: 46px;
    padding-right: 53px;
  }
}